<% title "of the publications in the current GOverview dataset" %>

<div class="column-left">
	<div class="display rounded">
		BY THE NUMBERS
		<h2 class="display-title">TOTAL PUBLICATIONS IN THE DATABASE</h2>
		<div class="line"></div>
		<div class="single_number">
			<%= link_to number_with_delimiter(@publication_count) %>
		</div>
	</div>

	<div class="display rounded">
		BY THE NUMBERS
		<h2 class="display-title">TOTAL PUBLICATIONS USED, BY SPECIES</h2>
		<div class="line"></div>
		<ul>
			<% @publications_by_taxon.sort_by{|a| a[1]}.reverse.each do |tax|
				if tax[0] != nil
					taxon = Taxon.find(tax[0])
				%>
			  <li><%= link_to("#{taxon.genus} #{taxon.species}", taxon_url(taxon)) %>: <span class="small_number"><%= number_with_delimiter(tax[1]) %></span></li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>

<div class="column-right">
	<div class="display rounded">
		TOP 20
		<h2 class="display-title">TOP 20 PUBLICATIONS, BY TOTAL ANNOTATIONS</h2>
		<div class="line"></div>
		<div class="">
			<ol>
			<% @top_pubs.each do |pub| %>
				<li><%= link_to(pub.title, publication_url(pub)) %>: <%= number_with_delimiter(pub.total) %></li>
			<% end %>
			</ol>
		</div>
	</div>
</div>

