<ul>
  <li><%= link_to "Overview", root_path() %></li>
  <li><%= link_to "Journals", journals_path() %></li>
  <li><%= link_to "Publications", publications_path() %></li>
  <li><%= link_to "Annotations", annotations_path() %></li>
  <li><%= link_to "Species", taxons_path() %></li>
</ul>
