<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<title>GOverview - <%= yield(:title) || "of the Gene Ontology" %></title>
  <%= stylesheet_link_tag 'standard' %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" , "highcharts", "excanvas.compiled", 'application' %>
	<link rel="icon" href="/favicon.ico" type="image/ico" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
</head>
<body>
	<div id="wrap">
		<div id="header" class="rounded">
			<h1><%= link_to "GOverview of the GO", "/" %></h1>
		</div>
		<div id="menu" class="rounded">
      <%= render(:partial => "shared/menu.html.erb") %>
		</div>
		<div id="body">
		  <%= yield %>
		</div>
		<div id="footer">
			GOverview was developed by <a href="<%= obscure_email('mailto:simont@hmgc.mcw.edu') %>">Simon Twigger</a> at the Medical College of Wisconsin
		</div>
	</div>
</body>
</html>